#new-account-form {
    width: 80%;
    margin: auto;
    border: solid 2px #1B73A7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #98C1D8;
}

#new-account-form-header {
    font-size: 16px;
    background-color: #1B73A7;
    color: white;
    padding: 10px;
}

.field {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.ui.button {
    margin-left: 20px;
    margin-bottom: 15px;
}