#new-account-form {
    width: 80%;
    margin: auto;
    border: solid 2px white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#new-account-form-header {
    font-size: 16px;
    background-color: white;
    color: grey;
    padding: 10px;
}

.ui.form .field>label {
    color: white;
}

.field {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.ui.button {
    margin-left: 20px;
    margin-bottom: 15px;
}