.ui.three.cards {
    width: 90%;
    margin: auto;
}

.ui.card>image:not(.ui)>img,
.ui.cards>.card>.image:not(.ui)>img {
    height: 250px;
}

.header {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
    color: white;
}


.ui.card>.content, 
.ui.cards>.card>.content  {
    background-color: #98C1D8;
}

.description {
    color: white;
}

h1 {
    color: white;
    font-size: 69px
}