.ui.three.cards {
    width: 90%;
    margin: auto;
}

.header {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}


.ui.card>.content, 
.ui.cards>.card>.content  {
    background-color: #98C1D8;
}

.description {
    color: white;
    font-size: large;
}

h1 {
    color: white;
    font-size: 69px;
}

#socialplatform {
    margin-top: 20px;
}