#output-container {
    margin-top: 30px;
    width: 90%;
    margin: auto;
    border: solid 2px #1B73A7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #98C1D8;
}

#output-container-header {
    font-size: 23px;
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
    background-color: #1B73A7;
    color: white;
    text-align: center;
    line-height: 1.6;
}

#polarity-analysis-results-header,
#personality-traits-results-header,
#polarity-result-header,
#polarity-confidence-result-header,
#word-cloud-header,
#data-table-header {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #1B73A7;
    color: white;
}

#personality-traits-results-grid, 
#polarity-analysis-results-grid,
#polarity-result-grid,
#polarity-confidence-result-grid,
#word-cloud-grid,
#data-table-grid {
    border: 2px solid #1B73A7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

#polarity-result-grid {
    margin-left: 15px;
}

#polarity-confidence-result-grid {
    margin-right: 15px;
}

#personality-traits-results,
#polarity-result,
#polarity-confidence-result,
#word-cloud-data,
#data-table {
    text-align: center;
    padding: 15px;
}